streamlit
PyPDF2
python-docx
textract
nltk
scikit-learn
word2number
pandas
numpy
streamlit==1.22.0
nltk==3.8.1
pandas==1.5.3
PyPDF2==3.0.1
python-docx==0.8.11
textract==1.6.5
scikit-learn==1.2.2
word2number==1.1
numpy==1.23.5
